{% extends 'app_fiberline/base.html' %}

{% block title %}{{ tst_db.name }} | Grundeinstellungen{% endblock title %}

{% block style %}

    .grid-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.25fr 1fr;
        grid-template-areas:
        "content-button content-information content-information content-empty-02"
        "content-empty-01 content-create content-create content-empty-02";
        grid-gap: 0.5rem;
        margin: 0.5rem;
    }
    .content-button { grid-area: content-button; }
    .content-information { grid-area: content-information; }
    .content-create { grid-area: content-create; }
    .content-empty-01 { grid-area: content-empty-01; }
    .content-empty-02 { grid-area: content-empty-02; }

    a, a:hover {
        color: #fff;
        text-decoration: none;
    }

    small {
        text-decoration: underline;
    }

{% endblock style %}

{% block content %}
<div class="grid-container">

    <div class="content-button">
        <button type="button" class="btn btn-secondary btn-list"><a href="{% url 'Technikstandort' tst_db.id %}">Zurück</a></button>
    </div>

    <div class="content-information">
        <small>Technikstandort</small>
        <h4>{{ tst_db.name }}</h4>
    </div>

    <div class="content-create">
        <div class="card">
            <div class="card-body">

                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.as_p }}
                    <input type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>

    <div class="content-empty-01"></div>
    <div class="content-empty-02"></div>

</div>
{% endblock content %}

{% block script %}
{% endblock script %}
