{% extends 'app_fiberline/base.html' %}

{% load widget_tweaks %}

{% block title %}{{ tst_db.name }} | Schacht / Kvz erstellen{% endblock title %}

{% block style %}

    .grid-container {
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.25fr;
        grid-template-rows: 0.125fr 1fr;
        grid-template-areas:
        "content-buttons content-buttons content-buttons"
        "content-empty-1 content-creation content-empty-2";
        grid-gap: 0.5rem;
        margin: 0.5rem;
    }
    .content-buttons { grid-area: content-buttons; }
    .content-creation { grid-area: content-creation; }
    .content-empty-1 { grid-area: content-empty-1; }
    .content-empty-2 { grid-area: content-empty-2; }

    .button-link, .button-link:hover {
        color: #fff;
        text-decoration: none;
    }

{% endblock style %}

{% block content %}
<div class="grid-container">
    <div class="content-buttons">
        <button type="button" class="btn btn-secondary"><a class="button-link" href="{% url 'Technikstandort' tst_db.id %}">Zurück</a></button>
    </div>

    <div class="content-creation">
        <div class="card">
            <div class="card-body">

                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.as_p }}
                    <input type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>

    <div class="content-empty-1"></div>
    <div class="content-empty-2"></div>
</div>
{% endblock content %}

{% block script %}{% endblock script %}
